@font-face {
  font-family: "Silkscreen";
  src: url("../fonts/slkscr.eot"); /* IE9 Compat Modes */
  src: url("../fonts/slkscr.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/slkscr.otf") format("opentype"), /* Open Type Font */
    url("../fonts/slkscr.svg") format("svg"), /* Legacy iOS */
    url("../fonts/slkscr.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/slkscr.woff") format("woff"), /* Modern Browsers */
    url("../fonts/slkscr.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
html, body {
  font-family: "Silkscreen";
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: rgb(0, 50, 88);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23cccccc  ' fill-opacity='0.05' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
  min-height: 100%;
  height: auto;
  width: 100%;
  display: block;
}
body{
  padding-top: 100vh;
}
#parallax-container {
  display: block;
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
#parallax-container .layer1{
  background: url('../img/sun.svg') left bottom no-repeat;
  background-size: 100% 100%;
  width: 20vw;
  height: 20vw;
  margin-left: -10%;
  margin-bottom: -10%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#parallax-container .layer2{
  background: url('../img/montanhas.svg') left bottom repeat-x;
  background-size: contain;
  width: 100%;
  height: 15vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#parallax-container .layer3{
  background: url('../img/banner-flag.svg') center center no-repeat;
  background-size: 50% auto;
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#content {
  position: relative;
  width: 80%;
  height: auto;
  margin: 0px auto;
}
ul#menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0;
}
ul#menu li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 0px 10px;
}
.box{
  display: flex;
  color: black;
  background: white;
  padding: 20px;
  margin: 30px auto;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  position: relative;
}

.box:before, .box:after{
  content: '';
  top: 0;
  width: 10px;
  height: 100%;
  position: absolute;
  background: black;
}
.box:before{
  left: -10px;
}
.box:after{
  right: -10px;
}
.info{
  display: flex;
  flex: 1 1;
}
.info:first-child{
  flex-grow: 1;
}

.info i.fab.fa-2x{
  color: #bbbbbb;
}
.info img.fab.fa-2x{
  height: 30px;
  width: 30px;
}


/*** CONSOLE SECTION ***/

#terminal {
  position: fixed;
  background-color: black;
  border: 3px solid #ababab;
  transition: all 0.2s linear 0.2s;
  color: greenyellow;
}

#terminal.maximized {
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0;
  margin: 0;
  transition: all 0.2s linear 0.2s;
}

#terminal.closed {
  width: 0vw;
  height: 0vh;
  transition: all 0.2s linear 0.2s;
}

#terminal.restored {
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  transition: all 0.2s linear 0.2s;
}

#terminal .header{
  background-color: #ababab;
  line-height: 35px;
  height: 45px;
  width: 100%;
}

#terminal .header button{
  border-radius: 50%;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  outline: none;
}

#terminal .header button::-moz-focus-inner {
  border: 0;
}

#terminal .header button#close{
  background-color: red;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #9b0808;
  border-left: 1px solid #9b0808;
}
#terminal .header button#close:active{
  border-top: 1px solid #9b0808;
  border-right: 1px solid #9b0808;
}

#terminal .header button#min{
  background-color: yellow;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #9f9f31;
  border-left: 1px solid #9f9f31;
}
#terminal .header button#min:active{
  border-top: 1px solid #9f9f31;
  border-right: 1px solid #9f9f31;
}
#terminal .header button#max{
  background-color: green;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #06610b;
  border-left: 1px solid #06610b;
}
#terminal .header button#max:active{
  border-top: 1px solid #06610b;
  border-right: 1px solid #06610b;
}

#terminal .curline {
  display: flex;
  padding: 0px 5px;
}
#terminal p{
  font-size: 14px;
  padding: 0px 5px;
  margin: 0px;
}
#terminal textarea{
  width: 100%;
  border: 0px;
  font-size: 14px;
  padding: 0px;
  color: greenyellow;
  background-color: transparent;
  font-family: "Silkscreen";
  resize: none;
  outline: none;
}

#terminal input[type='text']:focus{
  outline: none;
}

#terminal #domain {
  color: greenyellow;
  font-size: 14px;
}






/* ##### MAP #### */
#map{
  width: 700px;
  height: 500px;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right:  0px;
}
#map.hidden{
  display:  none;
}

#lightbox {
opacity: 1;
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 1000;
display: flex;
justify-content: center;
align-items: center;
background-color: #000000ab;
}

#lightbox.hidden{
opacity: 0;
width: 0%;
height: 0%;
z-index:0;
}

#lightbox img{
width: auto;
max-width: 90%;
height: auto;
max-height: 90%;
}

#lightbox a{
position: absolute;
padding: 10px;
text-decoration: none;
color: #ffffff;
font-weight: bold;
font-size: 18px;
outline: none;
top: 0px;
right: 0px;
}