html {
  background:
              url("../img/montanhas.svg") left bottom repeat-x,
              url("../img/sky_pattern.svg") left bottom repeat;
  background-color: #000;
}
html, body{
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 0 1;
}

.nav{
  display: flex;
  align-items: center;
}

.nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.nav ul li{
  background-color: #efefef;
  margin: 15px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #ababab;
  border-left: 3px solid #ababab;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.nav ul a{
  color: #555555;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content {
  margin: 10% 5%;
  padding: 5px;
  background-color: #ffffff99;
  flex-grow: 1;
  border-radius: 5px;
  overflow: hidden;
  overflow: scroll;
}

.content .text-box{
  overflow-x: hidden;
  overflow-y: scroll;
}

.content .text-box::-webkit-scrollbar {
  display: none;
}
div.unselected {
  display: none;
}

#map{
  width: 100%;
  height: 100%;
}

#lightbox {
  opacity: 1;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000ab;
  -webkit-animation: fadeInScale 0.2s ease-in-out;
	-moz-animation: fadeInScale 0.2s ease-in-out;
	-o-animation: fadeInScale 0.2s ease-in-out;
	-ms-animation: fadeInScale 0.2s ease-in-out;
	animation: fadeInScale 0.2s ease-in-out;
}

#lightbox.hidden{
  opacity: 0;
  width: 0%;
  height: 0%;
  z-index:0;
  animation-duration: 300ms;
  -webkit-animation: fadeOutScale 0.2s ease-in;
	-moz-animation: fadeOutScale 0.2s ease-in;
	-o-animation: fadeOutScale 0.2s ease-in;
	-ms-animation: fadeOutScale 0.2s ease-in;
	animation: fadeOutScale 0.2s ease-in;
}

#lightbox img{
  width: auto;
  max-width: 90%;
  height: auto;
  max-height: 90%;
  -webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}

#lightbox a{
  position: absolute;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  top: 0px;
  right: 0px;
}

@-webkit-keyframes fadeInScale {
  0% { -webkit-transform: scale(0.6); opacity: 0; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes fadeInScale {
  0% { -moz-transform: scale(0.6); opacity: 0; }
  100% { -moz-transform: scale(1); opacity: 1; }
}
@-o-keyframes fadeInScale {
  0% { -o-transform: scale(0.6); opacity: 0; }
  100% { -o-transform: scale(1); opacity: 1; }
}
@-ms-keyframes fadeInScale {
  0% { -ms-transform: scale(0.6); opacity: 0; }
  100% { -ms-transform: scale(1); opacity: 1; }
}
@keyframes fadeInScale {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@-webkit-keyframes fadeOutScale {
  0% { -webkit-transform: scale(1); opacity: 1; width: 100%; height: 100%;}
  100% { -webkit-transform: scale(0.6); opacity: 0; width: 0%; height: 0%;}
}
@-moz-keyframes fadeOutScale {
  0% { -webkit-transform: scale(1); opacity: 1; width: 100%; height: 100%;}
  100% { -webkit-transform: scale(0.6); opacity: 0; width: 0%; height: 0%;}
}
@-o-keyframes fadeOutScale {
  0% { -webkit-transform: scale(1); opacity: 1; width: 100%; height: 100%;}
  100% { -webkit-transform: scale(0.6); opacity: 0; width: 0%; height: 0%;}
}
@-ms-keyframes fadeOutScale {
  0% { -webkit-transform: scale(1); opacity: 1; width: 100%; height: 100%;}
  100% { -webkit-transform: scale(0.6); opacity: 0; width: 0%; height: 0%;}
}
@keyframes fadeOutScale {
  0% { -webkit-transform: scale(1); opacity: 1; width: 100%; height: 100%;}
  100% { -webkit-transform: scale(0.6); opacity: 0; width: 0%; height: 0%;}
}
