<div id="map" class="">
</div>

<div id="lightbox">
  <img src="https://scontent.fldb5-1.fna.fbcdn.net/v/t1.0-9/37237422_10204751151975087_3629068471142187008_o.jpg?_nc_cat=100&_nc_ht=scontent.fldb5-1.fna&oh=eab9e6acabdb3d7077efadf8284c954c&oe=5C6B968B" />
  <a href="#"><i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>
</a>
</div>
