<ul class="nav" role="navigation">
  <li>
    <a href="#about">
    <span class="icon"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></span>
    Perfil
    </a>
  </li>
  <li>
    <a href="#suitcase">
    <span class="icon"><i class="fa fa-suitcase fa-2x" aria-hidden="true"></i></span>
    Portfólio
    </a>
  </li>
  <li>
    <a href="#social">
    <span class="icon"><i class="fa fa-users fa-2x" aria-hidden="true"></i></span>
    Redes Sociais
    </a>
  </li>
  <li>
    <a href="#terminal">
    <span class="icon"><i class="fa fa-terminal fa-2x" aria-hidden="true"></i></span>
    Terminal
    </a>
  </li>
  <li>
    <a href="#map">
      <span class="icon"><i class="fa fa-map-o fa-2x" aria-hidden="true"></i></span>
      Mapa
    </a>
  </li>

</ul>
